# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=0ebc0e527d62b5c5921d0b8b7fa738ae

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your OpenAI API Key here for chat and image models: https://platform.openai.com/signup
OPENAI_API_KEY=""


NODE_ENV=development
BACKEND_URL=http://localhost:8080
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/app_db
BLOB_STORAGE_ENDPOINT=http://localhost:9000
BLOB_STORAGE_ACCESS_KEY=minioadmin
BLOB_STORAGE_SECRET_KEY=minioadmin
BLOB_STORAGE_BUCKET=app-bucket